body {
    background-image: url(images/star_wars_battlefront_2_tie_fighter_1920.0.jpg);
    background-size: cover;
}

.card {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

h6 {
    color: red;
}

input {
    margin-bottom: 15px;
}

button {
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 10px;
}